<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AnatomyApp - home</title>
    <!--
        <link rel="stylesheet" href="main/java/resources/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    -->
    <link rel="stylesheet" type="text/css" href="cssFiles/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">AnatomyApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/list_users}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about_flashcards}">Study Mode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about_quiz}">Test Mode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center">
    <div style="margin-top: 30px">
        <h1>You ended studying for this category!</h1>
    </div>
    <div style="margin-top: 20px">
        <img src="/Images/skeleton.png"/>
    </div>
    <div style="margin-bottom: 30px">
        <a th:href="@{/}" class="btn btn-lg btn-dark">Return to main page</a>
    </div>
</div>



</body>
</html>