<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="cssFiles/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">AnatomyApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/}">AnatomyApp
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/list_users}">List all users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/flashcard}">Flashcards</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container text-center">
    <div style="margin-top: 10px">
        <h1 th:text="${description}"></h1>
    </div>
    <div style="margin-bottom: 20px">
        <img th:src="${image}" width="650" height="600"/>
        <h4 th:text="${points}"></h4>
        <h4 th:text="${test}"></h4>
    </div>
    <div style="margin-bottom: 20px">
        <form th:action="@{/nextQuiz}" method="post"
              style="max-width: 600px; margin: 0 auto;"
              th:object="${userInput}">

            <div class="m-3">
                <div class="form-group">
                    <label class="form-label mt-4">What is this bone?</label>
                        <input type="text" class="form-control" value="" th:field="*{input}"
                        />
                        <small class="form-text text-muted" th:text="${language}"></small>
                </div>
            </div>
            <div style="margin-top: 10px">
                <button type="submit" class="btn btn-dark">Next question</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>