<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AnatomyApp - all users</title>
    <!--
        <link rel="stylesheet" href="main/java/resources/css/bootstrap.min.css">
    -->
    <link rel="stylesheet" type="text/css" href="cssFiles/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">AnatomyApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/list_users}">Account
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center" style="margin-top: 50px">
    <div>
        <h1>Check your account information here</h1>
    </div>
    <div>
        <br>
        <h5><strong>Login</strong></h5>
        <h6 th:text="${user.getLogin()}"></h6>
        <br>
        <h5><strong>E-mail</strong></h5>
        <h6 th:text="${user.getEmail()}"></h6>
        <br>
        <h6><strong>Points</strong></h6>
        <h6 th:text="${user.getPoints()}"></h6>
    </div>
</div>

</body>
</html>